<!-- @format -->

<footer class="footer">
    <div class="container flex">
        <div class="socials"></div>
        <ul class="navList">
            <li class="nav-items"> <a href="/">Home</a></li>
            <li class="nav-items"> <a href="/blogs">Blogs</a></li>
            <li class="nav-items"
                ><a
                    class="createBtn"
                    href="/create"
                    style="padding: 15px 50px; border-radius: 50px"
                    >create blog</a
                ></li
            >
        </ul>
        <div class="brand-logo">
            <a href="/" class="logo">Dike's Libs</a>
        </div>
    </div>
</footer>
