<!-- @format -->

<footer class="footer">
    <div class="container flex">
        <div class="copy">
             <p class="copy-content"><span class="copyIcon">&copy;</span> Copright <script>document.write(new Date().getFullYear())</script></p>
        </div>
        <ul class="socials">
            <li class="soc-items"><i class="fab fa-facebook fa-1x"></i></li>
            <li class="soc-items"> <i class="fab fa-twitter fa-1x"></i></li>
            <li class="soc-items"><i class="fab fa-linkedin fa-1x"></i></li>
            <li class="soc-items"> <i class="fab fa-github fa-1x"></i></li>
        </ul>
        <div class="brand-logo">
            <a href="/" class="logo">Open~Blog</a>
        </div>
    </div>
</footer>
