<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NodeJs Mastery</title>
    </head>
    <body>
        <div class="404">
            <div class="container">
                <h2 class="node-title"> 404-OOPS </h2>
            </div>
        </div>
        <!-- <script src="script/app.js"></script>
        <script src="script/os.js"></script>
        <script src="script/file-system.js"></script>
        <script src="script/stream.js"></script> -->
        <!-- <script src="script/create-server.js"></script> -->
    </body>
</html>
