<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Webstack | Portfolio-Project</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <%- include('./partials/nav.ejs')%>
        <h2><%=blog.title%></h2>
        <%- include('./partials/footer.ejs')%>
        <script>
            const menu = document.querySelector('#mobileMenu');
            const nav = document.querySelector('.navigations');

            menu.addEventListener('click', (e) => {
                nav.classList.toggle('show');
            });
        </script>
        <!-- <script src="script/app.js"></script>
        <script src="script/os.js"></script>
        <script src="script/file-system.js"></script>
        <script src="script/stream.js"></script> -->
        <!-- <script src="script/create-server.js"></script> -->
    </body>
</html>
