<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Webstack | Portfolio-Project | <%=title%></title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="showcase">
            <div class="container flex">
                <div class="show-content">
                    <h1 class="show-title"> Open Blogs </h1>
                    <h3 class="show-sub-title">
                        Digital source of ideas worth sharing
                    </h3>
                    <p class="show-txt">
                        Share your thought ideas in print and the world will
                        know who you are.
                    </p>
                    <div class="buttons">
                        <a href="/create" class="try-free btn">Try-its Free</a>
                        <a href="#" class="signIn btn">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <%- include('./partials/footer.ejs')%>
        <script>
            const menu = document.querySelector('#mobileMenu');
            const nav = document.querySelector('.navigations');

            menu.addEventListener('click', (e) => {
                nav.classList.toggle('show');
            });
        </script>
        <!--script src="script/os.js"></script>
        <script src="script/file-system.js"></script>
        <script src="script/stream.js"></script> -->
        <!-- <script src="script/create-server.js"></script> -->
    </body>
</html>
