<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NodeJs Mastery | <%=title%></title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="showcase">
            <div class="container flex">
                <div class="show-content">
                    <h1 class="show-title"> Open Blogs </h1>
                    <h3 class="show-sub-title">
                        Digital source of ideas worth sharing
                    </h3>
                    <p class="show-txt">
                        Share your thought ideas in print and the world will
                        know who.
                    </p>
                </div>
            </div>
        </div>
         <%- include('./partials/footer.ejs')%>
        <!-- <script src="script/app.js"></script>
        <script src="script/os.js"></script>
        <script src="script/file-system.js"></script>
        <script src="script/stream.js"></script> -->
        <!-- <script src="script/create-server.js"></script> -->
    </body>
</html>
