<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NodeJs Mastery</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <%- include('./partials/nav.ejs')%>
        <section class="about">
            <div class="container">
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi qui
            veritatis voluptate adipisci facere. Repellendus, reprehenderit! Ex,
            ad? Iure minus consectetur possimus tempore temporibus accusamus
            quae. Deserunt nostrum saepe rem qui nesciunt. Fuga minima aut
            reiciendis soluta adipisci tempora recusandae, eligendi perspiciatis
            vel at accusantium autem omnis nisi veniam vero!
        </p>
            </div>
        </section>
        <!-- <script src="script/app.js"></script>
        <script src="script/os.js"></script>
        <script src="script/file-system.js"></script>
        <script src="script/stream.js"></script> -->
        <!-- <script src="script/create-server.js"></script> -->
    </body>
</html>
